:root {
    --body-bg-color: hsl(0, 0%, 94%);
    --text-color: hsl(0, 0%, 92%);
    --header-bg-color: hsl(0, 0%, 100%);
    --footer-bg-color: hsl(0, 0%, 86%);
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 160px;
    font-family: 'Lora', serif;
    background-color: var(--body-bg-color);
    transition: background-color 600ms;
}

body.dark {
    --body-bg-color: hsl(0, 0%, 9%);
    color: var(--text-color);
    --header-bg-color: hsl(0, 0%, 20%);
    --footer-bg-color: hsl(0, 0%, 30%);
    transition: all 600ms;
}

/* Estilos para el header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    background-color: var(--header-bg-color);
    box-shadow: 0 5px 10px hsl(0, 0%, 65%);
}

.logo {
    width: 40px;
}

.header_nav {
    width: 140px;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    list-style: none;
}

.nav_list--links {
    text-decoration: none;
    color: inherit;
}

.toggle-switch-container {
    width: 30px;
    height: 11px;
    background-color: var(--footer-bg-color);
    border-radius: 10px;
}

.light-theme {
    position: relative;
    top: -3px;
    width: 18px;
    height: 18px;
    background-color: hsl(0, 0%, 5%);
    border-radius: 50%;
    transform: translateX(-3px);
    transition-property: background-color transform;
    transition-duration: 600ms;
}

.dark-theme {
    background-color: hsl(0, 0%, 95%);
    transform: translateX(15px);
    transition-property: background-color transform;
    transition-duration: 600ms;
}

/* Estilos para el main */

.main {
    margin-top: 40px;
    padding: 0 15px;
}

.hero {
    margin-top: 0;
    text-align: center;
}

.paragraph {
    max-width: 470px;
    letter-spacing: .8px;
    line-height: 1.3;
}

/* Estilos para el footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.footer > ul {
    padding: 0;
    list-style: none;
}

.footer_personal-information {
    margin-bottom: 20px;
    font-size: .9rem;
}

.footer_personal-information > li {
    margin-bottom: 8px;
    letter-spacing: .8px;
}

.footer_social-networks {
    margin-left: auto;
    margin-right: 0;
}

.social-networks {
    width: 26px;
    height: 26px;
    padding: 4px;
    margin-bottom: 6px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 5px 10px hsl(0, 0%, 35%);
}

@media (hover: hover) {

    .nav_list--links:hover {
        text-decoration: underline;
    }

    .light-theme:hover {
        cursor: pointer;
    }

    .social-networks:hover {
        background-color: hsl(182, 25%, 60%);
    }
}

@media screen and (min-width: 510px) {

    .paragraph {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 650px) {

    .paragraph {
        max-width: 620px;
    }
}

@media screen and (min-width: 768px) {

    .header,
    .main,
    .footer {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media screen and (min-width: 1024px) {

    .header,
    .main,
    .footer {
        padding-left: 55px;
        padding-right: 55px;
    }
}

@media screen and (min-width: 1250px) {

    .header,
    .main,
    .footer {
        padding-left: 70px;
        padding-right: 70px;
    }
}